<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-success"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Ara</label>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="filterText"
    id="filterText"
    placeholder="Arama ifadesi giriniz"
  />
</div>
<div class="alert alert-primary" *ngIf="filterText.length > 0">
  {{ filterText }} Aradınız
</div>

<table *ngIf="dataLoaded == true" class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Ürün Adı</th>
      <th>Kategori</th>
      <th>Fiyat</th>
      <th>Kdv'li Fiyat</th>
      <th>Stok Adedi</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | filterPipe: filterText">
      <td>{{ product.productId }}</td>
      <td>{{ product.productName | uppercase }}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.unitPrice | currency }}</td>
      <td>{{ product.unitPrice | vatAdded: 18 | currency }}</td>
      <td>{{ product.unitsInStock }}</td>
      <td>
        <button class="btn btn-success" (click)="addToCart(product)">Sepete Ekle</button>
      </td>
    </tr>
  </tbody>
</table>
