<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="loginForm">
      <img
        class="mb-4"
        src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label for="floatingInput">E-Posta</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          formControlName="password"
        />
        <label for="floatingPassword">Şifre</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Beni hatırla
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" (click)="login()">
        Giriş Yap
      </button>
    </form>
  </main>
</body>
